  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.bio }}">
    <meta name="author" content="{{ .Site.Params.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:description" content="Links to content by {{ .Site.Params.name }}">
    <link rel="stylesheet" href="/css/main.css">
  </head>
